<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Portfolio</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
	</head>
	<body>
        <div class="navbar">
            <a href="/"><div class="name">BARET WOODS</div></a>
            <div class="menu">
                <div class="menu-button">PROJECTS</div>
                <div class="menu-button">ABOUT ME</div>
                <div class="menu-button">CONTACT</div>
            </div>
		    {{{body}}}
            <div class="footer">
                <div class="footer-title">FOOTER</div>
            </div>
        </div>
	</body>
</html>