<div class="big-spacer"></div>
<div class="blocks-page2">
	<div class="projects-title">About Me</div>
	<div class="about-me-description">
		<div class="about-me-text">Greetings! My name's Baret Woods. I was born in the country in the state of Virginia. Growing up, I was always captivated by technology. Ever since I got my first Nintendo 64, with interesting games such as "Hey You Pikachu!", I learned how wonderful it can be if hardware and software work together in interesting ways. I hope to capitilize on the ability to make software fit its hardware, especially when using mobile technology. The process of design is fundamentally different on every piece of hardware, and it is important to analyze this in order to provide the best user experience.</div>
		<img src="images/me.png" class="about-me-photo">
	</div>
</div>
<script src="js/home.js"></script>