<div class="big-spacer"></div>
<div class="blocks-page2">
	<div class="projects-title">Contact Me</div>
	<div class="contact-me-description">
		<div class="contact-me-text">Phone Number: 434 473 1205 
			<br> 
			Email: <a href="mailto:baretwoods@gmail.com?subject=Contact">Baretwoods@gmail.com</a>
		</div>
	</div>
</div>
<script src="js/home.js"></script>